BACKEND_PORT=
FRONTEND_PORT=
BI_POSTGRES_PORT=
SUPERSET_PORT=

BI_POSTGRES_USER=
BI_POSTGRES_PASSWORD=
BI_POSTGRES_DB=
BI_DATABASE_URL=

SUPERSET_URL=
SUPERSET_SECRET_KEY=
SUPERSET_EMBED_ALLOWED_DOMAINS=

CORS_ORIGINS=
VITE_API_ROOT=
